<div class="spacer-large"></div>
<div class="last-questions">
    <div class="row last-documents-title">
        <i class="icon icon-small-pad-left icon-documents right"></i>
        <h2 class="documents-title questions-title right">
שאלות לדיון
        </h2>
    </div>
    <div class="post-messages-container documents-container">
        <ul id="questions_list">
        </ul>
    </div>
</div>
<div class="last-documents">
    <div class="row last-documents-title">
        <i class="icon icon-small-pad-left icon-documents right"></i>
        <h2 class="documents-title right">
            מסמכים בעבודה
        </h2>
    </div>
    <div class="post-messages-container documents-container">
        <ul id="discussions_list">
        </ul>
    </div>
</div>
<div class="last-messages">
    <div class="row last-messages-title">
        <i class="icon icon-small-pad-left icon-recent-messages right"></i>
        <h2 class="recent-messages-title right"><a href="/discussions/subject/<%=subject._id%>/forum">הודעות אחרונות מהפורום</a></h2>
    </div>
    <div class="post-messages-container latest_posts">
        <ul>

        </ul>
    </div>
</div>
