


<footer>
<div class="container">
    <div class="row">
        <div id="footer-about" class="footer-column">
            <p class="title">על מעגלי השיח</p>
            <!--<div>מרכז שיתופים מהווה בית מקצועי וצומת של מידע וידע לקהילות החברה האזרחית - ארגוני מגזר שלישי, פילנתרופיה, שותפויות חברתיות והתארגנויות אזרחיות. מרכז "שיתופים" פועל לחיזוק החברה האזרחית באמצעות פיתוח הניהול החברתי, הרחבת הפילנתרופיה הפרטית וקידום השיח הבין מגזרי.</div>-->
            <div>
                אתר "מעגלי השיח" מבית
                <a target="_blank" href="http://www.sheatufim.org.il/">שיתופים</a>
                נועד לתמוך בתהליכי שיח רבי משתתפים באמצעות סביבה אינטרנטית נגישה, המותאמת לכל תהליך ופתוחה למשתמשים מורשים בלבד. האתר משלב טכנולוגיה חדישה לקשר ולחיבור המשתתפים ודעותיהם בין המפגשים, הוועדות וצוותי עבודה המאפיינים תהליכים מורכבים.
            </div>
        </div>
        <div id="footer-links" class="footer-column">
            <p class="title">קישורים</p>
            <ul>
                <li><a target="_blank" href="http://www.sheatufim.org.il/"><img class="shitufim-logo" src="/img/logo-shitufim.png" alt="שיתופים" title="שיתופים"/></a></li>

                <% footer_links('is_on_footer').forEach(function(menu){ %>
                    <li><a target="_blank" href="<%= menu.link %>"><%= menu.name %></a></li>
                <% }) %>
            </ul>
        </div>
        <div id="footer-contact" class="footer-column">
            <p class="title">פרטי התקשרות</p>
            <div>שיתופים לקידום החברה האזרחית,</div>
            <div>ת.ד. 3225 בית יהושע 40591</div>
            <div>טלפון: 09-8301400</div>
            <div><a href="mailto:info@sheatufim.org.il">info@sheatufim.org.il</a></div>
        </div>
        <div id="footer-credits" class="footer-column">
            <p class="title">הוקם על ידי</p>
            <div><a target="_blank" href="http://www.hasdera.org.il/"><img src="/images/Slogan.jpg"></a></div>
        </div>
    </div>
</div>
<% include includes.ejs %>
</footer>
<div class="back-to-top hand" onclick="scrollToTop();">
    <div class=""><i class="icon icon-back-to-top"></i></div>
    <div class="back-to-top-text">לראש הדף</div>
</div>