<header>
    <div class="container">
        <div class="row">
            <!-- Logo -->
            <div id="logo" class="col4">
                <img src="/img/logo.png" alt="מעגלי שיח מבית שיתופים" title="מעגלי שיח מבית שיתופים"/>
            </div>
            <!-- Navigation -->
            <nav id="header-nav" class="col6">
                <ul class="menu inline-list">
                    <li><a href="#">אודות</a></li>
                    <li><a href="#">מאגרי מידע</a></li>
                    <li><a href="#">צור קשר</a></li>
                    <li id="header-nav-login"><button class="btn btn-large btn-green"><i class="icon icon-small-pad-left icon-size2 icon-login"></i>התחברות</button></li>
                </ul>
            </nav>
        </div>
    </div>
</header>