<aside id="sidebar" class="left">
    <!-- Login -->
    <div class="aside-login sidebox">
        <div class="row">
            <i class="icon icon-small-pad-left icon-key right"></i>
            <h2 class="aside-login-title right">כניסה</h2>
        </div>
        <div class="spacer"></div>
        <form>
            <div>
                <label for="inputUsername">כתובת אימייל:</label>
            </div>
            <div>
                <input name="username" id="inputUsername" type="text" tabindex="1" required/>
            </div>
            <div>
                <label for="inputPassword">סיסמא:</label>
            </div>
            <div>
                <input name="password" id="inputPassword" type="password" tabindex="2" required/>
            </div>
            <div>
                <div class="aside-login-actions">
                    <div class="spacer-login"><button type="submit" id="login_form_btn" tabindex="3" class="btn btn-medium btn-blue btn-submit">התחברות</button></div>
                    <div class="aside-login-forgot-password"><a href="account/forgot_password">שכחתי סיסמא</a></div>
                </div>
            </div>
        </form>
    </div>
</aside>