<div class="container">
    <div class="row">
        <!-- Logo -->
        <div id="logo" class="col4">
            <a href="/" tabindex="1">
                <img src="/img/logo.png" alt="מעגלי שיח מבית שיתופים" title="מעגלי שיח מבית שיתופים"/>

            </a>
            <a href="http://www.sheatufim.org.il" target="_blank" tabindex="2">
                <img src="/img/shitufim.png" alt="שיתופים" title="שיתופים"/>
            </a>
        </div>
        <!-- Navigation -->
        <nav id="header-nav" class="col6">
            <ul class="menu inline-list">
                <li><a href="/about">אודות</a></li>
                <% if( user_logged ) { %>
                <li><a href="/user">הפרופיל שלי</a></li>
                <% } %>
                <li style="display:none"><a href="/information_items">מאגרי מידע</a></li>
                <li><a id="contact" href="/contact">צור קשר</a></li>
                <% if( user_logged ) { %>

                    <li id="header-nav-logged-in">
                        <button class="btn_login">
                        <div  class="row">
                            <div class="right">
                                <img src="<%=avatar%>" class="logged-in-user-img circle" alt="<%=user.first_name%>"/>
                            </div>
                            <div class="right logged-in-user-details">
                                <div class="logged-in-user-welcome">שלום,</div>
                                <div class="logged-in-user-name"><%=user.first_name%></div>
                                <div class="logged-in-user-logout"><a href="/account/logout">יציאה</a></div>
                            </div>
                        </div>
                        </button>
                    </li>
                <% } else { %>
                    <li id="header-nav-login">
                        <button class="btn btn-large btn-green btn-nav-login"><i class="icon icon-small-pad-left icon-size2 icon-login"></i>התחברות</button>
                        <div class="login-bubble hide" style="top: 67px; left: 87px;">
                            <div class="zirot-login">
                                <i class="icon icon-login-bubble-tip right"></i>
                                <form>
                                    <div>
                                        <label for="username">כתובת אימייל:</label>
                                    </div>
                                    <div>
                                        <input name="username" id="username" class="zirot-login-username" type="text" required="">
                                    </div>
                                    <div>
                                        <label for="password">סיסמא:</label>
                                    </div>
                                    <div>
                                        <input name="password" id="password" class="zirot-login-password" type="password" required="">
                                    </div>
                                    <div>
                                        <div class="zirot-login-actions">
                                            <div class="spacer-login"><input type="submit" class="btn btn-medium btn-blue btn-submit login_menu_btn" value="התחברות"></div>
                                            <div class="zirot-login-forgot-password"><a href="/account/forgot_password">שכחתי סיסמא</a></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </li>
                <% } %>
            </ul>
        </nav>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {

        $('.btn-nav-login').bind('click', function (e) {
            showMenu(e);
        });

        $('.login_form_btn').on('keypress', function(e){
            if(e.keyCode == 13){
                showMenu(e);
            }
        });

        var showMenu = function(e){
            e.stopPropagation();

            $bubble = $('.login-bubble');
            $bubble.removeClass('hide');
            $('.login-bubble input[type="text"]:first-of-type').focus();
            $bubble.css({
                'top': $(this).position().top + $(this).outerHeight() + $('.login-bubble .icon-login-bubble-tip').height(),
                'left': $(this).position().left - (($bubble.outerWidth() - $(this).outerWidth()) / 2)
            });
        }
//        $('#contact').on('click', function(e){
//            e.preventDefault();
//            dust.render('contact_popup', {},function(err,out){
//                $.colorbox({
//                    html:out
//                });
//
//            });
//        });

        $('.login_menu_btn').on('click', function(e){
            loginMenu(e);
        });

        $('.login_menu_btn').on('keypress', function(e){
            if(e.keyCode == 13){
                loginMenu(e);
            }
        });

        $('#header-nav-logged-in').on('click', function(){
            window.location.href = '/user';
        });

        var loginMenu = function(e){
            e.preventDefault();
            var username = $(e.target).closest('form').find('#username').val(),
                    password = $(e.target).closest('form').find('#password').val();
            db_functions.login(username, password, function (err, result) {
                if(err){
                    popupProvider.showOkPopup({message:'הפרטים שהוזנו אינם נכונים. נסה שנית או לחץ על "שכחתי סיסמא"'});
                }
                else{
                    window.location.href = "/";
                }
            });
        }

    });

    var mail = "<%= (user && user.email) || '' %>";
</script>