<div class="container">
    <div class="row">
        <!-- Logo -->
        <div id="logo" class="col4">
            <a href="/">
                <img src="/img/logo.png" alt="זירות שיח מבית שיתופים" title="זירות שיח מבית שיתופים"/>
            </a>
        </div>
        <!-- Navigation -->
        <nav id="header-nav" class="col6">
            <ul class="menu inline-list">
                <li><a href="/about">אודות</a></li>
                <li><a href="/information_items">מאגרי מידע</a></li>
                <li><a href="#">צור קשר</a></li>
                <% if( user_logged ) { %>
                    <li id="header-nav-logged-in">
                        <div  class="row">
                            <div class="right">
                                <img src="<%=avatar%>" class="logged-in-user-img circle" alt="<%=user.first_name%>"/>
                            </div>
                            <div class="right logged-in-user-details">
                                <div class="logged-in-user-welcome">שלום,</div>
                                <div class="logged-in-user-name"><%=user.first_name%></div>
                                <div class="logged-in-user-logout"><a href="/account/logout">יציאה</a></div>
                            </div>
                        </div>
                    </li>
                <% } else { %>
                    <li id="header-nav-login"><button class="btn btn-large btn-green login_btn"><i class="icon icon-small-pad-left icon-size2 icon-login"></i>התחברות</button></li>
                <% } %>
            </ul>
        </nav>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {

        $(".login_btn").click(function(){
            popupProvider.showLoginPopup({}, function(err, result){
                if(!err)
                {
                  if(typeof window.vars === "undefined" || typeof window.vars.afterLogin === "undefined") {
                      window.location = window.location ;
                  }   else   {
                      //  window.location = window.location + '?user_name=' + userName + '&proxy_id=' + proxyId + '&post_id=' + post_id;
                      window.vars.afterLogin();
                  }
                }

            });
            return false;
        });
    });

    var mail = "<%= (user && user.email) || '' %>";
</script>