<aside id="sidebar" class="left">
    <!-- Basket -->
    <div class="aside-info sidebox">
        <div class="row">
            <i class="icon icon-small-pad-left icon-basket right"></i>
            <h2 class="aside-info-title right" >סל מידע</h2>
        </div>
        <div class="spacer"></div>
        <ul class="list information_items">

        </ul>
        <div class="aside-more-info">
            <div class="spacer-plus"><a href="#" id="subjectShoppingCartPopup"><i class="icon icon-plus"></i></a></div>
            <div class="aside-show-more">הצג את כל הרשומות</div>
        </div>
    </div>
    <!-- Useful Links -->
    <div class="aside-links sidebox">
        <div class="row">
            <i class="icon icon-medium-pad-left icon-link right"></i>
            <h2 class="aside-links-title right">קישורים</h2>
        </div>
        <div class="spacer"></div>
        <ul class="list links">

        </ul>
    </div>
</aside>