<aside class="zirot-login-container right">
    <div class="row zirot-section-title-container">
        <img src="img/step1.png" class="zirot-step right" alt="step1"/>
        <div class="zirot-section-title right">הזינו פרטים</div>
        <i class="icon icon-zirot-title-tip"></i>
    </div>
    <div class="row zirot-section-content zirot-login-step-box">
        <div class="zirot-login">
            <form id="login_form">
                <div>
                    <label for="inputUsername">שם משתמש:</label>
                </div>
                <div>
                    <input name="username" id="inputUsername" class="zirot-login-username" type="text" tabindex="1" required/>
                </div>
                <div>
                    <label for="inputPassword">סיסמא:</label>
                </div>
                <div>
                    <input name="password" id="inputPassword" class="zirot-login-password" type="password" tabindex="2" required/>
                </div>
                <div>
                    <div class="zirot-login-actions">
                        <div class="spacer-login"><button type="submit" tabindex="3" id="login_form_btn" class="btn btn-medium btn-blue btn-submit">התחברות</button></div>
                        <div class="zirot-login-forgot-password"><a href="/account/forgot_password">שכחתי סיסמא</a></div>
                    </div>
                </div>
            </form>
        </div>
        <div class="zirot-login-chairs">
            <img src="img/chairs.png" alt="Chairs"/>
        </div>
    </div>
</aside>
<!-- Step 2: Enter a zira -->
<div class="zirot-library-container right">
    <div class="row zirot-section-title-container">
        <img src="img/step2.png" class="zirot-step right" alt="step1"/>
        <div class="zirot-section-title right">הכנסו לזירה</div>
        <i class="icon icon-zirot-title-tip"></i>
    </div>
    <div class="row zirot-section-content zirot-library-step-box">
        <div>

        </div>
    </div>
</div>