<div class="zirot-library-container right">
    <div class="row zirot-section-content zirot-library-step-box">
        <div>

        </div>
    </div>
</div>
<!-- Latest News -->
<aside id="sidebar" class="zirot-sidebar right">
    <div class="zirot-messages-container sidebox">
        <div class="row">
            <i class="icon icon-medium-pad-left icon-message right"></i>
            <h2 class="zirot-messages-container-title right">עדכונים אחרונים</h2>
        </div>
        <div class="spacer"></div>
        <ul class="list notifications">
        </ul>
    </div>
</aside>