<!DOCTYPE html>
<html>
<head>
    <title>זירות שיח</title>
    <% include partials/head.ejs %>
</head>
<body>
<div id="wrap">
    <!-- Header -->
    <header>
        <% include partials/menu.ejs %>
    </header>

    <!--<div id="content" class="cf" style="background-image: url('/images/about.png'); background-position: center -30px; height: 1300px; padding-bottom:0px;">-->
        <div id="content" class="cf">
            <h2><a href="javascript:void(0);" style="text-decoration: none;">
עורו
            </a></h2>
            <div class="rightCol">
                <div class="main-text">

                </div>
            </div>
            <div class="leftCol">
                <div class="about-left">

                </div>
            </div>
        </div>

    </div>
</div>


<footer>
    <% include partials/footer.ejs %>
</footer>


<script type="text/javascript">

    $(document).ready(function () {
        db_functions.getAboutUruTexts(function (data) {
                $.each(data.objects, function (index, item) {
                    dust.render('about_text', item, function (err, out) {
                        $('.main-text').append(out);
                    });
                });

        });

        db_functions.getAboutUruItems(function (data) {

            $.each(data.objects, function (index, item) {
                dust.render('about_item', item, function (err, out) {
                    $('.about-left').append(out);
                });
            });
        });
    });

</script>

</body>
</html>