<!DOCTYPE html>
<html>
<head>
    <title>מעגלי שיח</title>
    <% include partials/head.ejs %>
</head>
<body class="zirot">
    <!-- Header -->
    <header>
        <% include partials/menu.ejs %>
    </header>

    <section class="content">
        <div class="container">
            <div class="row">
                <div class="welcome">
                    <div class="welcome-pre-title">שיתופים</div>
                    <div class="welcome-title">אודות</div>
                    <div class="welcome-tagline"></div>
                </div>
            </div>
            <div class="row about-text">

            </div>
        </div>
    </section>


    <% include partials/footer.ejs %>


    <script type="text/javascript">

    $(document).ready(function () {
        db_functions.getAboutUruTexts(function (data) {
                $.each(data.objects, function (index, item) {
                    dust.render('about_text', item, function (err, out) {
                        $('.about-text').append(out);
                    });
                });

        });
//
//        db_functions.getAboutUruItems(function (data) {
//
//            $.each(data.objects, function (index, item) {
//                dust.render('about_item', item, function (err, out) {
//                    $('.about-left').append(out);
//                });
//            });
//        });
    });

</script>

</body>
</html>