<!DOCTYPE html>
<html lang="he-IL">
<head>
    <title>מעגלי שיח - צור קשר</title>
    <% include partials/head.ejs %>
</head>
<body class="zirot">
    <!-- Header -->
    <header>
        <% include partials/menu.ejs %>
    </header>

    <section class="content contact">
        <div class="container">
            <div class="row">
                <div class="welcome">
                    <h1 class="welcome-pre-title">צור קשר</h1>
                    <h2 class="welcome-title">אתר מעגלי השיח</h2>
                    <div class="welcome-tagline"></div>
                </div>
            </div>
            <div class="row about-text">

            </div>
            <div class="row">
                <div class="mail">
                    <!--<div class="row">-->
                        <!--<div class="right dialog-title">-->
                            <!--<div class="row">-->
                                <!--<h3 class="basket-tagline right">צור קשר</h3>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="spacer-large"></div>
                    <div class="row">
                        <div class="contact_form">
                            <label for="email" style="display: none;">מייל השולח</label>
                            <input class="email" title="מייל השולח" id="email" name="email" type="email" placeholder="מייל השולח">

                            <label for="title" style="display: none;">כותרת</label>
                            <input class="mail-title" title="כותרת ההודעה" id="title" name="title" type="text" placeholder="כותרת">

                            <div class="review-change-text">
                                <label for="text" style="display: none;">תוכן ההודעה</label>
                                <textarea class="text" name="text" id="text" title="תוכן ההודעה" class="text" placeholder="תוכן ההודעה..."></textarea>
                            </div>
                            <button class="btn btn-medium btn-green send_mail">שלח</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <% include partials/footer.ejs %>


    <script type="text/javascript">

    $(document).ready(function () {
        db_functions.getContactText(function (data) {
            $.each(data.objects, function (index, item) {
                dust.render('about_text', item, function (err, out) {
                    $('.about-text').append(out);
                });
            });

        });
        $('body').on('click', '.send_mail', function(e){
            sendMail(e);
        });

        $('body').on('keypress', '.send_mail', function(e){
            if(e.keyCode == 13)
                sendMail(e);
        });

        var sendMail = function(e){
            $('.send_mail').addClass('disabled');
            popupProvider.showLoading({message:'שליחת הודעתך מתבצעת...'});
            var data = {
                subject: $('.mail-title').val(),
                explanation: $('.text').val(),
                email: $('.email').val(),
                to: 'maagal@sheatufim.org.il'
            };
            db_functions.sendMailFromUserToSystem(data, function(bug){
                $.colorbox.close();
                if(bug.status < 200 && bug.status > 300){
                    $('.contact_form').html('<h4>' +
                            "                            ארעה שגיאה בשליחת הודעתך. אנא נסה/י שנית. " +
                            '</h4>');
                } else {
                    $('.contact_form').html('<h4>' +
                            "הודעתך נשלחה בהצלחה." +
                            '</h4>');
                }
            });
//            db_functions.sendMailFromUserToSystem(data, function(bug){
//                $.colorbox.remove();
//                if(bug.status < 200 && bug.status > 300){
//                    popupProvider.showOkPopup({message:'ארעה שגיאה בשליחת הודעתך. אנא נסה/י שנית.'});
//                } else {
//                    popupProvider.showOkPopup({message:'הודעתך נשלחה בהצלחה.'});
//                }
//            });
        }
    });

</script>

</body>
</html>