<!DOCTYPE html>
<html>
<head>
    <title>זירות שיח</title>
    <% include partials/head.ejs %>
</head>

<body>

<div id="wrap">
    <header>
        <% include partials/menu.ejs %>
    </header>

    <div class="content forgot-password ">
        <div class="spacer-large"></div>
        <div class="row">

            <div class="title right">
                שחזור סיסמא
            </div>
        </div>
        <form class="login-form cf " action="" method="POST">
            <div class="areas">
                <div class="title">
הכנס את כתובת המייל שאיתה נרשמת:
                </div>
                <div>
                    <label for="email">
                        דוא”ל:
                    </label>
                </div>
                <div>
                    <input id="email" name="email" class="text" type="text" value="<%= email %>" />
                </div>
            </div>
            <div class="spacer-login"><button type="submit" tabindex="3" class="btn btn-medium btn-blue btn-submit">שלח</button></div>
        </form>
    </div>
</div>
<footer>
    <% include partials/footer.ejs %>
</footer>
<script>

    <%
    if(method == 'post') {
        if(found) { %>
            popupProvider.showOkPopup({ message:'אנא פתח את מייל המערכת שנשלח אליך כדי להשלים את התהליך'});
        <% } else { %>
            var data = {
                part_one: "כתובת המייל שהוזנה לא קיימת במערכת. למסך ההרשמה לחץ ",
                part_two: "כאן",
                part_three: " או נסה שוב.",
                link: "/account/register"
            };
            popupProvider.showOkPopupWithLink(data);
        <%  }
    } %>
</script>
</body>
</html>

