<!DOCTYPE html>
<html lang="he-IL">
<head>
    <title>מעגלי שיח</title>
    <% include partials/head.ejs %>
</head>
<% if( user_logged ) { %>
      <body class="zirot logged">
<% } else { %>
    <body class="zirot not-logged">
<% } %>
<body class="zirot logged">
    <!-- Header -->
    <header>
         <% include partials/menu.ejs %>
    </header>
    <!-- Content -->
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="welcome">
                    <div class="welcome-pre-title"><%- welcome_pre_title %></div>
                    <div class="welcome-title"><%- welcome_title %></div>
                    <div class="welcome-tagline"><%- text %></div>
                </div>
            </div>
            <div class="row zirot-container">
                <!-- Enter a zira -->
                <% if( user_logged ) { %>
                      <% include partials/subjects_logged_in.ejs %>
                <% } else { %>
                    <% include partials/subjects_not_logged_in.ejs %>
                <% } %>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer>
        <% include partials/footer.ejs %>
    </footer>
    <script type="text/javascript">
        $(document).ready(function () {
            var user = <%- JSON.stringify(user || "") %>;
            db_functions.getAllSubjects(function(err, subjects){
                if(err) return;
                $.each(subjects.objects, function(i, subject){
                    dust.render('subject', subject, function(err, html){
                        if(err) return;
                        $('.zirot-container .zirot-library-step-box').append(html);
                    });
                });
            });

            db_functions.getNotifications(user._id, 6, function(data){
                if(data.objects){
                    dust.renderArray("notification", data.objects, function(err, html){
                        if(err) return;
                        $('.notifications.list').html(html);
                    });
                }
            });

            $('.login_form_btn').on('click', function(e){
                e.preventDefault();
                var username = $(e.target).closest('form').find('#inputUsername').val(),
                        password = $(e.target).closest('form').find('#inputPassword').val();
                db_functions.login(username, password, function (err, result) {
                    if(err){
                       return;
                    }
                    else{
                        window.location.href = "/";
                    }
                });
            });
        });
     </script>
</body>
</html>