<!DOCTYPE html>
<html lang="he-IL">
<head>
    <title>מעגלי שיח</title>
    <% include partials/head.ejs %>
</head>
<body class="configurations <% if(is_no_sheatufim) { %>no_sheatufim<% } %>">

    <!-- Header -->
    <header>
        <% include partials/menu.ejs %>
    </header>

    <section id="nav_content" class="content" style="background: white;">
        <div class="container">
            <div class="row">
                <div class="post-body">
                    <div class="row profile">
                        <h1 class="title right">ניהול עדכונים במייל</h1>

                    </div>
                    <div class="spacer-large"></div>
                    <div class="email_settings">
                        <h2>כללי</h2>
                        <div id="general_settings" class="settings_box general_settings">
                            <div class="notification"> <div class="spinner"></div> </div>
                            <div class="settings_box_section">
                                <input name="get_alert_of_new_discussion_in_subject_you_are_part_of" id="get_alert_of_new_discussion_in_subject_you_are_part_of" type="checkbox" data-setting-type="get_uru_updates" id="get_uru_updates" class="checkbox general" /><label for="get_alert_of_new_discussion_in_subject_you_are_part_of" class="title"><span>התראה על מסמך חדש שנפתח לעריכה</span></label>
                            </div>
                            <div class="sep"></div>
                            <div class="settings_box_section">
                                <input name="get_alert_of_new_information_item_on_subject_you_are_part_of" id="get_alert_of_new_information_item_on_subject_you_are_part_of" type="checkbox" data-setting-type="get_weekly_mails" id="get_weekly_mails" class="checkbox general" /><label for="get_alert_of_new_information_item_on_subject_you_are_part_of" class="title"><span>התראה על פריט מידע חדש</span></label>
                            </div>
                        </div>

                        <h2>הפורום</h2>
                        <div id="forum_settings" class="settings_box">
                            <div class="notification"> <div class="spinner"></div> </div>
                            <div class="settings_box_section">
                                <input name="get_alert_of_comment_on_subject_you_are_part_of" id="get_alert_of_comment_on_subject_you_are_part_of" type="checkbox" data-setting-type="get_uru_updates" id="get_uru_updates" class="checkbox general" /><label for="get_alert_of_comment_on_subject_you_are_part_of" class="title"><span>התראה על הודעות חדשות</span></label>
                            </div>
                            <div class="sep"></div>
                            <div class="settings_box_section">
                                <input name="get_alert_of_comment_on_your_forum_post" id="get_alert_of_comment_on_your_forum_post" type="checkbox" data-setting-type="get_weekly_mails" id="get_weekly_mails" class="checkbox general" /><label for="get_alert_of_comment_on_your_forum_post" class="title"><span>התראה על תגובות חדשות להודעות שלך</span></label>
                            </div>
                        </div>

                        <h2>מסמכים בעריכה</h2>
                        <div id="discussion_settings" class="settings_box">
                            <div class="notification"> <div class="spinner"></div> </div>
                            <div class="settings_box_section">
                                <input id="get_alert_of_comment_on_discussion_you_are_part_of" name="get_alert_of_comment_on_discussion_you_are_part_of" type="checkbox" data-setting-type="get_uru_updates" id="get_uru_updates" class="checkbox general" /><label for="get_alert_of_comment_on_discussion_you_are_part_of" class="title"><span>התראה על הודעות חדשות</span></label>
                            </div>
                            <div class="sep"></div>
                            <div class="settings_box_section">
                                <input id="get_alert_of_comment_on_your_discussion_post" name="get_alert_of_comment_on_your_discussion_post" type="checkbox" data-setting-type="get_weekly_mails" id="get_weekly_mails" class="checkbox general" /><label for="get_alert_of_comment_on_your_discussion_post" class="title"><span>התראה על תגובות חדשות להודעות שלך</span></label>
                            </div>
                            <div class="sep"></div>
                            <div class="settings_box_section">
                                <input id="get_alert_of_change_suggestion_on_discussion_you_are_part_of" name="get_alert_of_change_suggestion_on_discussion_you_are_part_of" type="checkbox" data-setting-type="get_weekly_mails" id="get_weekly_mails" class="checkbox general" /><label for="get_alert_of_change_suggestion_on_discussion_you_are_part_of" class="title"><span>התראה על הצעות חדשות לשינוי</span></label>
                            </div>
                            <div class="sep"></div>
                            <div class="settings_box_section">
                                <input id="get_alert_of_comment_on_change_suggestion_i_created" name="get_alert_of_comment_on_change_suggestion_i_created" type="checkbox" data-setting-type="get_weekly_mails" id="get_weekly_mails" class="checkbox general" /><label for="get_alert_of_comment_on_change_suggestion_i_created" class="title"><span>התראה על תגובות להצעות לשינוי שלך</span></label>
                            </div>
                            <div class="sep"></div>
                            <div class="settings_box_section">
                                <input id="get_alert_of_approved_change_suggestion_on_discussion_you_are_part_of" name="get_alert_of_approved_change_suggestion_on_discussion_you_are_part_of" type="checkbox" data-setting-type="get_weekly_mails" id="get_weekly_mails" class="checkbox general" /><label for="get_alert_of_approved_change_suggestion_on_discussion_you_are_part_of" class="title"><span>התראה על הצעות שהתקבלו</span></label>
                            </div>
                        </div>

                        <h2>שאלות לדיון</h2>
                        <div id="discussion_settings" class="settings_box">
                            <div class="notification"> <div class="spinner"></div> </div>
                            <div class="settings_box_section">
                                <input id="get_alert_of_new_question_in_subject_you_are_part_of" name="get_alert_of_new_question_in_subject_you_are_part_of" type="checkbox" data-setting-type="get_uru_updates" id="get_uru_updates" class="checkbox general" /><label for="get_alert_of_new_question_in_subject_you_are_part_of" class="title"><span>התראה על שאלות חדשות שנפתחו לדיון</span></label>
                            </div>
                            <div class="sep"></div>
                            <div class="settings_box_section">
                                <input id="get_alert_of_comment_on_question_in_subject_you_are_part_of" name="get_alert_of_comment_on_question_in_subject_you_are_part_of" type="checkbox" data-setting-type="get_weekly_mails" id="get_weekly_mails" class="checkbox general" /><label for="get_alert_of_comment_on_question_in_subject_you_are_part_of" class="title"><span>התראה על תגובות חדשות לשאלות לדיון</span></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <% include partials/footer.ejs %>

    <script>
        var user;
        $(document).ready(function () {
            user = <%- JSON.stringify(user) %>;

            //set existing configurations
            for (var conf_obj in user.mail_notification_configuration) {
                if (user.mail_notification_configuration[conf_obj]){
                    $('#' + conf_obj).prop('checked', true);
                }
            }
        });

        $(".settings_box_section input").click(function(e){
            updateNotification(e);
        });

        $(".settings_box_section input").on('keypress', function(e){
            if(e.keyCode == 13){
                var $target = $(e.target);
                if($target.is(':checked')){
                    $target.prop('checked', false);
                } else {
                    $target.prop('checked', true);
                }

                updateNotification(e);
            }

        });

        var updateNotification = function(e) {
            var notif_type = $(e.target).attr('id');
            var notif=$(this).parents('.settings_box').find('.notification');
            notif.show();
            var new_settings = {};
            new_settings.mail_notification_configuration = {};
            var is_checked = $(e.target).is(':checked');

            new_settings.mail_notification_configuration[notif_type] = is_checked;


            db_functions.updateMailNotification(user._id, new_settings, function(err, result){
                if(!err){
                    notifSuccess(notif);
                } else{
                    notifFail(notif);
                }
            })
        };
        function notifSuccess(notif){
            if (notif.data('finish') == false){
                notif.stop();
            }
            notif.find('.spinner').hide();
            notif.text("עודכן");
            notif.css('color','green');
            notif.css("fontSize", "24px");
            notif.css('font-weight', 'bold');
            notif.data('finish', false);
            notif.animate({color: '#fff'}, 2200,function() {
                notif.data('finish', true);
                notif.hide();
                notif.find('.spinner').show();
            });
        }

        function notifFail(notif){
            notif.find('.spinner').hide();
            notif.text("עדכון נכשל");
            notif.css('color','green');
            notif.animate({color: '#fff'}, 2000,function() {
                notif.hide();
                notif.find('.spinner').show();
            });
        }
    </script>

</body>
</html>