<!DOCTYPE html>
<html lang="he-IL">
<head>
    <title>מעגלי שיח - תנאי שימוש</title>
    <% include partials/head.ejs %>
</head>
<body class="zirot">
    <!-- Header -->
    <header>
        <% include partials/menu.ejs %>
    </header>

    <section class="content">
        <div class="container">
            <div class="row">
                <div class="welcome">
                    <div class="welcome-pre-title">תנאי שימוש</div>
                    <div class="welcome-title">אתר מעגלי השיח</div>
                    <div class="welcome-tagline"></div>
                </div>
            </div>
            <div class="row about-text">
                <p dir="RTL" style="margin-right:.05pt;">
                    &nbsp;</p>
                <p dir="RTL" style="margin-right:.05pt;">
                    &nbsp;</p>
                <p dir="RTL" style="margin-right:.05pt;">
                    <strong><u>הצהרה משפטית</u></strong></p>
                <p dir="RTL">
                    &nbsp;</p>
                <h1 dir="RTL">
                    &nbsp;</h1>
                <h1 dir="RTL">
                    תנאי שימוש באתר מעגלי השיח&nbsp;</h1>
                <p dir="RTL" style="margin-right:.05pt;">
                    &nbsp;</p>
                <p dir="RTL" style="margin-right:-.45pt;">
                    &nbsp; ברוכים הבאים לאתר מעגלי השיח )להלן:&quot; <strong>האתר</strong>&quot;(. האתר מנוהל ומופעל על-ידי שיתופים )חברה לתועלת הציבור( ממושב בית יהושוע )להלן:&quot; <strong>שיתופים</strong>&quot;(. השימוש באתר ובכלל זה בתכנים הכלולים בו ובשירותים השונים הפועלים בו מעיד על הסכמתך לתנאים אלה, ולכן הנך מתבקש לקרוא אותם בקפידה .</p>
                <p dir="RTL" style="margin-right:-.45pt;">
                    באתר תמצא תכנים שהשימוש בהם כפוף, בנוסף לתנאי שימוש כלליים אלה, גם להסכם מקוון המתייחס אליהם באופן מיוחד.</p>
                <p dir="RTL" style="margin-right:-.45pt;">
                    תנאים אלה חלים על השימוש באתר ובתכנים הכלולים בו באמצעות כל מחשב או מכשיר תקשורת אחר )כדוגמת טלפון סלולארי, מחשבי כף יד, טאבלטים למיניהם וכיו&quot;ב(. כמו כן הם חלים על השימוש באתר ,בין באמצעות רשת האינטרנט ובין באמצעות כל רשת או אמצעי תקשורת אחרים. תנאי השימוש באתר מנוסחים בלשון זכר לצרכי נוחות בלבד, והם מתייחסים, כמובן, גם לנשים. בתנאים אלה, המונח&quot; <strong>תוכן</strong>&quot;, או&quot; <strong>תכנים</strong>&quot; כולל מידע מכל מין וסוג, לרבות כל תוכן מילולי, חזותי, קולי, אור-קולי) <span dir="LTR">audio-visual</span>(, או כל שילוב שלהם וכן עיצובם, עיבודם, עריכתם, הפצתם ודרך הצגתם, לרבות )אך לא רק(:כל תמונה, צילום ,איור, הנפשה) <span dir="LTR">animation</span>(, תרשים, דמות, הדמיה, דגימה) <span dir="LTR">sample</span>(, סרטון, קובץ קולי וקובץ מוסיקלי ;כל תוכנה, קובץ, קוד מחשב, יישום, תסדיר) <span dir="LTR">format</span>(, פרוטוקול, מאגר נתונים וממשק וכל תו, סימן, סמל וצלמית )<span dir="LTR">icon</span>(. האתר משמש בין היתר כרשת חברתית לחילופי מידע ותכנים במסגרת שולחנות עגולים, יוזמות להשפעה חברתית ומסגרות נוספות בשם &quot;מעגלי שיח&quot;&nbsp; וכל שם אחר )להלן: רשת חברתית( ,המהווה כלי יחודי בבעלות שיתופים אשר יכלל במונח &quot;אתר&quot;, &quot;תוכן&quot; או &quot;תכנים&quot; לענין הצהרה זו .</p>
                <p dir="RTL">
                    &nbsp;</p>
                <p dir="RTL" style="margin-right:-.15pt;">
                    <strong><u>השימוש באתר שיתופים</u></strong></p>
                <p dir="RTL" style="margin-right:.05pt;">
                    &nbsp;</p>
                <p dir="RTL" style="margin-right:-.45pt;">
                    הנך רשאי להשתמש בתכנים באתר בהתאם לכללים המפורטים להלן. אין להשתמש בתכנים באתר באופן אחר, אלא אם כן קיבלת את הסכמתה המפורשת, מראש ובכתב של שיתופים לכך ובכפוף לתנאי ההסכמה )אם תינתן:(</p>
                <p dir="RTL" style="margin-right:20.35pt;">
                    &bull;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; למשתמש לא יהיו כל זכויות ו/או בעלות על תוכן כלשהו המצוי באתר. הסכם זה הוא הרשאה בלבד להשתמש באתר. זכויות הבעלות באתר ,בתכנים ,כולל כל זכויות הקניין הרוחני, סימני המסחר וכו &#39;יוותרו בכל עת בבעלות שיתופים.</p>
                <p dir="RTL" style="margin-right:20.35pt;">
                    &bull;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; כל תוכן המצוי באתר הינו רכושה של שיתופים. אין להעתיק ו/או לפרסם ו/או לשכפל כל חלק מן התוכן, בכל דרך שהיא ללא הסכמתה המפורשת של שיתופים. האתר והתוכן המופיע בו מוגנים ע&quot;י חוקי זכויות יוצרים והם מיועדים לשימוש פרטי בלבד של המשתמש ולא לשימוש מסחרי .</p>
                <p dir="RTL">
                    &nbsp;</p>
                <p dir="RTL" style="margin-right:20.35pt;">
                    &bull;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; האמור בהצהרה זו יחול הדדית על כל משתמש במסגרת האתר אף במסגרת קשר או חילופי מידע בין גורמים פרטניים במסגרת האתר.שימוש באתר יבוצע אך ורק באמצעות שיתופים בכל נקודת זמן או קשר שבו מצויה הרשת החברתית, כולה או חלקה שמקורה בשיתופים כאמור .מבלי לגרוע מכל האמור לעיל ולהלן, לא יעשה כל שימוש מסחרי או פרסומי במידע ובתכנים הנובעים מאתר זה או מהרשת החברתית הכלולה בו.&nbsp;</p>
                <p dir="RTL">
                    &nbsp;</p>
                <p dir="RTL" style="margin-right:20.35pt;">
                    &bull;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; שיתופים פועלת לוודא את אמינותו ודיוקו של התוכן המצוי באתר, אך אינה אחראית ו/או ערבה לאמינות ודיוק התכנים. במידה ויתגלה אי-דיוק או טעות בתכנים אשר באתר, יש להודיע על כך לשיתופים כדי שתוכל לתקנו . בכל מקרה בו תתגלה סתירה בין התוכן באתר לבין נתונים המופיעים בפרסומים רשמיים או מקוריים, יחשב החומר בפרסומים הרשמיים ו/או המקוריים כנכון אלא אם יאמר במפורש אחרת</p>
                <p dir="RTL">
                    &nbsp;</p>
                <p dir="RTL" style="margin-right:20.35pt;">
                    &bull;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; האתר כולל, בין היתר, חומרים נוספים, כגון: מודעות, תגובות, ופניות של משתמשים שונים ושל גופים שונים לרבות משרדי ממשלה )להלן - חומרים נוספים(. אין שיתופים אחראית לתוכן של החומרים הנוספים, ו/או לניסוחם ו/או לאמיתות ודיוק החומרים הנוספים, כולם או חלקם.</p>
                <p dir="RTL" style="margin-right:20.35pt;">
                    &bull;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; שיתופים מדגישה בזאת והמשתמש מצהיר בזאת כי ידוע לו שהתוכן באתר אינו מיועד לשימוש כתחליף לייעוץ ואין לראותו כמיועד לכך, ולפני הסתמכות על התוכן באתר ו/או בכל סוגיה הנוגעת לתוכן באתר יש להיוועץ במומחה בתחום. האתר מוצג מתוך כוונה להפיץ תכנים לתועלת הציבור ולסייע בחילופי מידע והצגת עמדות בין הגורמים המשתמשים.&nbsp; למען הסר ספק כל תוכן הנכלל באתר הכולל מידע מגורם חיצוני לשיתופים הינו באחריות כותבו בלבד ואולם התוכן באתר משקף&nbsp; מידע כללי בלבד, ואינו בגדר חוות דעת או ייעוץ מוסמך .</p>
                <p dir="RTL">
                    &nbsp;</p>
                <p dir="RTL" style="margin-right:20.35pt;">
                    &bull;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; האחריות לבדיקת נכונותו ודיוקיו של התוכן באתר הינה על המשתמש בלבד. המשתמש מצהיר בזאת, כי ידוע לו&nbsp; שאם יחול ליקוי ו/או טעות ו/או אי דיוק בתוכן ו/או בדרך העברתו למשתמשים, ו/או אי הבנה או אף פגיעה במשתמש והכל בין במישרין ובין בעקיפין ,שיתופים לא תשא באחריות כלשהי בעניין.</p>
                <p dir="RTL">
                    &nbsp;</p>
                <p dir="RTL" style="margin-right:20.35pt;">
                    &bull;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; שיתופים שומרת לעצמה את הזכות הבלעדית לעשות כל שינוי באתר, בכל עת ומכל סיבה, בלי כל הודעה מראש ובלי כל אחריות מצדה.</p>
                <p dir="RTL">
                    &nbsp;</p>
                <p dir="RTL" style="margin-right:20.35pt;">
                    &bull;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; המשתמש מצהיר בזאת כי הוא מסכים ומתחייב לפעול בהתאם להוראות שימוש אשר שיתופים תפרסם מעת לעת בכל הנוגע לשימוש בתוכן באתר. נוסף על האמור לעיל, המשתמש מתחייב שלא להעלות , לחלץ, לשדר, להפיץ, למכור, להעתיק או לפרסם תוכן או חומר אחר מהאתר בין בתמורה ובין שלא בתמורה ללא הסכמתה המפורשת מראש ובכתב של שיתופים.</p>
                <p dir="RTL">
                    &nbsp;</p>
                <p dir="RTL" style="margin-right:20.35pt;">
                    &bull;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; שיתופים תהיה רשאית, על-פי שיקול דעתה הבלעדי, לחסום את ההרשאה למשתמש כלשהו במקרים של עבירה על החוק או על תנאי השימוש באתר, או כאשר הפריע המשתמש&nbsp; לפעילותו התקינה של האתר. בלי לגרוע מן האמור לעיל ו/או לגרוע מן הסעדים הניתנים על פי הוראות כל דין, שיתופים תהיה רשאית להפסיק באופן מיידי, חד צדדי וללא מתן כל התראה מראש ,את מתן השירותים שלפי הסכם זה, בלי שינקטו נגדה צעדים.</p>
                <p dir="RTL">
                    &nbsp;</p>
                <p dir="RTL" style="margin-right:20.35pt;">
                    &bull;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; אין שיתופים יכולה לפקח על כל התכנים המועלים על האתר על ידי משתמשים אחרים. בלי לגרוע מן האמור, שיתופים שומרת לעצמה את הזכות בכל עת למסור לאחרים כל תוכן אשר יידרש ממנה על פי חוק, כמו גם על זכותה לערוך, להסיר ולסרב להעלות באתר כל תוכן והודעה שלפי שיקול דעתה הבלעדי של שיתופים פוגע בעליל או מפר תנאי מתנאי הסכם זה או אינו מתאים מכל סיבה שהיא להופיע באתר.</p>
                <p dir="RTL">
                    &nbsp;</p>
                <p dir="RTL" style="margin-right:20.35pt;">
                    &bull;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; המשתמש מצהיר בזאת ומתחייב לשפות את שיתופים בגין כל נזק ו/או הפסד שיגרם לה, שינבעו כתוצאה משימוש בלתי ראוי ו/או מוטעה, הפרעה ו/או כשלון ו/או כל פעולה אסורה על פי חוק המחשבים, התשנ&quot;ה-<span dir="LTR">5991</span>, חוק הגנת הפרטיות, התשמ&quot;א-<span dir="LTR">5995</span>, ו/או על פי כל דין, שיעשה באתר ו/או באמצעותו, ו/או בתכנים בו.</p>
                <p dir="RTL">
                    &nbsp;</p>
                <p dir="RTL" style="margin-right:20.35pt;">
                    &bull;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; הסכם זה כפוף לחוקי מדינת ישראל. סמכות השיפוט הבלעדית לדון בכל סכסוך העולה מהסכם זה תהיה נתונה לבתי המשפט בתל אביב. על הסכם זה יחולו הוראות חוק החוזים )תרופות בשל הפרת חוזה(, התשל&quot;א-<span dir="LTR">5991</span>.</p>
                <p dir="RTL">
                    &nbsp;</p>
                <p dir="RTL">
                    &nbsp;</p>
                <p dir="RTL" style="margin-right:.1pt;">
                    <strong><u>מיאון אחריות</u></strong></p>
                <p dir="RTL" style="margin-right:-.45pt;">
                    המידע, התוכנה, המוצרים והשירותים הכלולים באתר אינטרנט זה עשויים להכיל אי-דיוקים או שגיאות דפוס. כמו כן נערכים לפרקים שינויים במידע שבאתר. שיתופים רשאית בכל עת להכניס שיפורים ו/או שינויים באתר אינטרנט זה. אין להסתמך על ייעוץ שהתקבל באמצעות אתר אינטרנט זה לצורך קבלת החלטות בנושאים אישיים, רפואיים, משפטיים או כספיים; לשם כך עליך להתייעץ עם בעל מקצוע מתאים על מנת לקבל ייעוץ מותאם לנסיבות המיוחדות שלך. אין באמור במסמך זה משום מצג מצד שיתופים בדבר ההתאמה, האמינות, העיתוי המתאים ומידת הדיוק של המידע, התוכנה, המוצרים, השירותים והגרפיקה הנלווית הכלולים באתר אינטרנט זה למטרה כלשהי. כל המידע, התוכנה, המוצרים, השירותים והגרפיקה הנלווית מוצעים למשתמש &quot;כמות שהם) &quot;<span dir="LTR">As is</span>(, בלא כל התחייבות שיתופים מתנערת בזאת מכל אחריות והתניה לגבי המידע, התוכנה, המוצרים השירותים והגרפיקה הנלווית, לרבות כל אחריות או התניה משתמעת בדבר סחירות, התאמה למטרה מסוימת, קניין ואי-הפרה. בשום מקרה לא תחול על שיתופים אחריות בגין נזק ישיר, עקיף, דמי נזיקין עונשיים, נזק מקרי, מיוחד או תוצאתי, או כל נזק אחר מכל סוג ומין, לרבות אך ללא הגבלה, דמי נזיקין בגין אובדן השימוש, אובדן נתונים או אובדן רווחים ,הנובעים או קשורים בכל דרך שהיא בשימוש או בביצועי אתר אינטרנט זה, בעיכוב בשימוש או באי-יכולת להשתמש באתר, באספקה או באי-אספקה של שירותים, או בכל מידע, תוכנה, מוצר, שירות וגרפיקה נלווית שהושגו באמצעות אתר אינטרנט זה, או הנובעים בכל דרך אחרת מן השימוש באתר אינטרנט זה ,בין שהדבר מבוסס על חוזה, ובין על דיני נזיקין, אחריות מוחלטת או כל דבר אחר, אפילו אם נודע לשיתופים על האפשרות של דמי נזיקין כאמור. אם אינך שבע-רצון מחלק כלשהו של אתר זה, או מאחד מתנאי השימוש, הסעד היחיד והבלעדי העומד לרשותך הוא הפסקת השימוש באתר.</p>
                <p dir="RTL">
                    &nbsp;</p>
                <p dir="RTL" style="margin-right:-.15pt;">
                    <strong><u>שינויים באתר והפסקת השירות</u></strong></p>
                <p dir="RTL">
                    &nbsp;</p>
                <p dir="RTL" style="margin-right:-.45pt;">
                    שיתופים תוכל לשנות מעת לעת את מבנה האתר, מראהו ועיצובו, את היקפם וזמינותם של השירותים בו, תהיה רשאית לגבות תשלום בעד תכנים ושירותים כאלה או אחרים לפי החלטתה, ותהיה רשאית לשנות כל היבט אחר הכרוך באתר - והכל, בלא צורך להודיע לך על כך מראש. שינויים כאלה יבוצעו, בין השאר, בהתחשב באופי הדינאמי של האינטרנט ובשינויים הטכנולוגיים והאחרים המתרחשים בה .</p>
                <p dir="RTL">
                    מטבעם, שינויים מסוג זה עלולים להיות כרוכים בתקלות ו/או לעורר בתחילה אי-נוחות וכיו&quot;ב. לא תהיה לך כל טענה, תביעה ו/או דרישה כלפי שיתופים בגין ביצוע שינויים כאמור ו/או תקלות שיתרחשו אגב ביצועם.</p>
                <p dir="RTL" style="margin-right:-.45pt;">
                    מבלי לגרוע מן האמור לעיל רשאית שיתופים להפסיק בכל עת את מתן השירותים הללו, כולם או מקצתם. שיתופים תפרסם באתר הודעה על הפסקת השירותים זמן סביר מראש. עם הפסקת השירותים תחזיק שיתופים את החומר הכלול באתר למשך זמן סביר נוסף ולאחר מכן תהיה רשאית למחוק אותו בלא לשמור כל גיבוי ממנו ובלא לתת הודעה נוספת על כך.</p>
                <p align="left" dir="RTL">
                    &nbsp;</p>

            </div>
        </div>
    </section>


    <% include partials/footer.ejs %>

</body>
</html>