<!DOCTYPE html>
<html lang="he-IL">
<head>
    <title>מעגלי שיח - תנאי שימוש</title>
    <% include partials/head.ejs %>
</head>
<body class="zirot">
    <!-- Header -->
    <header>
        <% include partials/menu.ejs %>
    </header>

    <section class="content">
        <div class="container">
            <div class="row">
                <div class="welcome">
                    <div class="welcome-pre-title">תנאי שימוש</div>
                    <div class="welcome-title">אתר מעגלי השיח</div>
                    <div class="welcome-tagline"></div>
                </div>
            </div>

            <div class="row about-text">
                <% if(government_terms) { %>
                <p dir="RTL">
                    &nbsp;</p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
                        <b><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">כללי<o:p></o:p></span></b></p>
                <p dir="RTL">
                    &nbsp;</p>
                    <p dir="RTL" style="margin: 0in 0in 0.0001pt; text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
                        <span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">ברוכים הבאים למעגלי השיח הממשלתיים באתר מעגלי השיח . <o:p></o:p></span></p>
                <p dir="RTL">
                    &nbsp;</p>
                <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
        <span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">משרד ראש הממשלה (להלן: המשרד) מנהל מעגלי שיח(להלן: &quot;<strong><span style="border: 1pt none windowtext; padding: 0in;">השירות</span></strong>&quot;) באתר זה.<o:p></o:p></span></p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
        <span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">האתר מנוהל ומופעל על-ידי שיתופים (חברה לתועלת הציבור) ממושב בית יהושוע (להלן: &quot;<strong><span style="border: 1pt none windowtext; padding: 0in;">שיתופים</span></strong>&quot;), ומשמש בין היתר כרשת חברתית לחילופי מידע ותכנים במסגרת שולחנות עגולים, יוזמות להשפעה חברתית ומסגרות נוספות בשם &quot;מעגלי שיח&quot;&nbsp; וכל שם אחר (להלן: האתר).<o:p></o:p></span></p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
        <span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">השימוש באתר ובשירות ובכלל זה בתכנים הכלולים בו ובשירותים השונים הפועלים בו מעיד על הסכמתך לתנאים אלה, ולכן הנך מתבקש לקרוא אותם בקפידה. <o:p></o:p></span></p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
        <span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">המונח &quot;משתמש&quot; להלן משמעו כל אדם אשר יוצר קשר או מתקשר עם השירות</span><span dir="LTR" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">. </span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black"><o:p></o:p></span></p>
                    <p dir="RTL" style="margin: 0in 0in 0.0001pt; text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
                        <span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">תנאים אלה חלים על השימוש באתר ובתכנים הכלולים בו באמצעות כל מחשב או מכשיר תקשורת אחר (כדוגמת טלפון סלולארי, מחשבי כף יד, טאבלטים למיניהם וכיו&quot;ב). כמו כן הם חלים על השימוש באתר, בין באמצעות רשת האינטרנט ובין באמצעות כל רשת או אמצעי תקשורת אחרים. תנאי השימוש באתר מנוסחים בלשון זכר לצרכי נוחות בלבד, והם מתייחסים, כמובן, גם לנשים.<o:p></o:p></span></p>
                    <p dir="RTL" style="margin: 0in 0in 0.0001pt; text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
                        <span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">&nbsp;</span></p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
                        <b><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">זכויות יוצרים של השירות<o:p></o:p></span></b></p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
        <span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">לפי דיני זכויות היוצרים התקפים בישראל, ועל פי אמנות בין-לאומיות, זכויות היוצרים בפרסומי המשרד, כולל אלו המתפרסמים <b>בשירות</b> זה, שייכות למדינת ישראל. <o:p></o:p></span></p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
        <span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">זכויות יוצרים אלו כוללות, בין השאר, טקסט, תמונות, איורים, אנימציה , מפות, קטעי צליל, קטעי וידיאו, וגרפיקה (להלן: <b>החומר המוגן</b>), אלא אם כן נקבע באופן מפורש כי זכויות היוצרים בחומר המוגן שייכות לגורם אחר</span><span dir="LTR" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">. </span><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">&nbsp;<span lang="HE"><o:p></o:p></span></span></p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
                        <b><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">זכויות יוצרים של שיתופים<o:p></o:p></span></b></p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
        <span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">על זכויות היוצרים בתכני האתר ותכנים בשירות שאינם נכללים בחומר המוגן, חלים תנאי השימוש של אתר שיתופים (ראו </span><a href="https://www.sheatufim-roundtable.org.il/terms-of-use"><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">כאן</span></a><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">). <o:p></o:p></span></p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
        <span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">זכויות אלו כוללות, בין השאר זכויות בתוכנה, בקובצי וקוד מחשב, יישום, תסדיר (</span><span dir="LTR" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">format</span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">), פרוטוקול, מאגר נתונים.<o:p></o:p></span></p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
        <span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">כן כוללות הזכויות כל פריט ממשק אשר אינו נכלל בגרפיקה של השירות (סימן, סמל וצלמית (</span><span dir="LTR" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">icon</span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">) וגרפיקה של האתר).<o:p></o:p></span></p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
                        <b><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">שימוש בזכויות יוצרים של השירות<o:p></o:p></span></b></p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
        <span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">המשתמש רשאי לעשות &quot;שימוש הוגן&quot; בחומר המוגן, לפי הכללים הקבועים בדין. &quot;שימוש הוגן&quot; כולל ציטוט סביר מתוך החומר המוגן</span><span dir="LTR" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">.</span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black"><o:p></o:p></span></p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
        <span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">המצטט כאמור חייב לציין את המקור לציטוט, בין אם הוא המשרד ובין אם הוא גורם אחר</span><span dir="LTR" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">. </span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black"><o:p></o:p></span></p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
        <span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">אסור למשתמש לעשות בחומר המוגן כל סילוף, פגימה או שינוי אחר, או כל פעולה שיש בה משום הפחתת ערך ביחס לחומר המוגן, העלולה לפגוע בכבודו או בשמו של בעל זכויות היוצרים בו</span><span dir="LTR" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">.</span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black"><o:p></o:p></span></p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
        <span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">בכפוף לדיני זכויות יוצרים, אסור למשתמש להעתיק, להפיץ מחדש, לשדר מחדש או לפרסם חומר מוגן, ללא הסכמה מראש ובכתב מאת המשרד</span><span dir="LTR" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">/<o:p></o:p></span></p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
        <span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">השימוש באתר ובתוכן שאינו נכלל בחומר המוגן הינו בהתאם לאמור בתנאי השימוש של אתר שותפים (ראו </span><a href="https://www.sheatufim-roundtable.org.il/terms-of-use"><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">כאן</span></a><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">). <o:p></o:p></span></p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
                        <b><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">אחריות<o:p></o:p></span></b></p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
        <span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">השירות מוצע לציבור &quot;כמות שהוא</span><span dir="LTR" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">&quot; (&quot;As Is&quot;).</span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black"><o:p></o:p></span></p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
        <span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">מדינת ישראל לא תישא באחריות להתאמת השירות לצורכי המשתמש. כמו כן, לא תישא מדינת ישראל באחריות לטעויות או לשגיאות בחומר המוצג בשירות</span><span dir="LTR" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">. </span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black"><o:p></o:p></span></p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
        <span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">מדינת ישראל לא תישא באחריות לשינויים שנעשו בחומר המוצג בשירות על ידי המשתמש או על ידי כל צד ג</span><span dir="LTR" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">&#39;.</span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black"><o:p></o:p></span></p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
        <span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">המשתמש בלבד יישא באחריות לאופן שבו הוא עושה שימוש בשירות</span><span dir="LTR" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">. </span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black"><o:p></o:p></span></p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
        <span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">מדינת ישראל לא תישא באחריות לכל נזק שנגרם למשתמש או לכל צד ג&#39; כתוצאה ישירה או עקיפה מן השימוש בשירות, לרבות נזק שנגרם עקב השימוש ביישומי תוכנה שהורדו ישירות באמצעות השירות או הופעלו כתוצאה מהשימוש בשירות, לרבות יישומי אינטרנט (כגון</span><span dir="LTR" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black"> -&nbsp; Java, JavaScript, Active-X).<o:p></o:p></span></p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
        <span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">לעניין סעיף זה, &quot;מדינת ישראל&quot; משמע, לרבות המשרד, עובדיהם ונציגיהם</span><span dir="LTR" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">.</span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black"><o:p></o:p></span></p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
        <span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">אחריות בגין האתר, הינה בהתאם לאמור בתנאי השימוש של האתר (ראו </span><a href="https://www.sheatufim-roundtable.org.il/terms-of-use"><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">כאן</span></a><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">). <o:p></o:p></span></p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
                        <b><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">קישורים<o:p></o:p></span></b></p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
        <span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">בשירות זה נמצאים קישורים</span><span dir="LTR" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black"> (links) </span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">לאתרים אחרים. ההוראות שלהן תחולנה על השימוש בקישורים אלו, ואין בהן כדי לגרוע משאר הוראות תנאי השימוש</span><span dir="LTR" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">.</span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black"><o:p></o:p></span></p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
        <span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">הקישורים נועדים לנוחיות המשתמש בלבד</span><span dir="LTR" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">.</span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black"><o:p></o:p></span></p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
        <span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">לעניין קישורים לאתרים חיצונים שאינם שייכים למדינת ישראל (אתרי צד ג&#39;): אם לא צוין אחרת באתר זה, אין בין המשרד לבין בעלי אתר צד ג&#39; יחסים משפטיים או מסחריים, ואין למשרד כל שליטה או זכות בחומר הנמצא באתרים אלו</span><span dir="LTR" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">.</span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black"><o:p></o:p></span></p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
        <span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">אין המדינה אחראית לתוכן החומר הנמצא באתרי צד ג</span><span dir="LTR" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">&#39;.</span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black"><o:p></o:p></span></p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
        <span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">אין לפרש קישורים לאתרי צד ג&#39; כמתן גושפנקה, אישור, המלצה או העדפה על ידי המדינה או המשרד לאותם אתרים מקושרים, לרבות למסמכים וכל חומר אחר הנמצאים בהם, למפעילי האתרים או למוצרים המוצגים בהם</span><span dir="LTR" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">.</span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black"><o:p></o:p></span></p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
        <span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">בעת הכללת כל קישור בשירות זה, נמצא שהמידע באתר המקושר הינו מתאים למטרות השירות, וכי הקישור עצמו הינו תקין. ואולם, יתכן שבמהלך הזמן, חלו שינויים באתר המקושר. אם המשתמש סבור שאין האתר או החומר המקושר מתאימים, או אם נמצא כי הקישור אינו תקין, המשתמש מתבקש להודיע על כך למנהל האתר</span><span dir="LTR" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black"> (webmaster). </span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">כמו כן, אם המשתמש סבור שיש אתר נוסף שרלוונטי לנושא שירות זה, הוא מתבקש להודיע על כך למנהל האתר</span><span dir="LTR" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black"> (webmaster).</span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black"><o:p></o:p></span></p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
        <span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">&nbsp;</span></p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
                        <b><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">שמירת סודיות<o:p></o:p></span></b></p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
        <span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">מידע אישי שנמסר למשרד באמצעות שירות זה, יישמר בסוד בהתאם להוראות חוק הגנת הפרטיות, התשמ&quot;א &ndash; 1981. אין המדינה אחראית על סודיות המשתמשים באתר אלא בשירות בלבד. </span><span dir="LTR" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black"><o:p></o:p></span></p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
        <span dir="LTR" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">&nbsp;</span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">שמירת הסודיות של המשתמשים באתר, הינה בהתאם לאמור בתנאי השימוש של האתר (ראו </span><a href="https://www.sheatufim-roundtable.org.il/terms-of-use"><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">כאן</span></a><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">). <o:p></o:p></span></p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
        <span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">&nbsp;</span></p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
                        <b><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">פרסומים רשמיים של מדינת ישראל<o:p></o:p></span></b></p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
        <span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">במידה ותתגלה סתירה או אי-התאמה בין חומר המתפרסם בשירות לבין חומר המופיע בפרסומים הרשמיים בכתב של מדינת ישראל, רק החומר בפרסומים הרשמיים כאמור ייחשב כנכון</span><span dir="LTR" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">.</span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black"><o:p></o:p></span></p>
                    <p dir="RTL" style="margin: 0in 0in 0.0001pt; text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
                        <span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">&nbsp;<o:p></o:p></span></p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
                        <b><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">פניות למשרד<o:p></o:p></span></b></p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
        <span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">בכל שאלה אודות שירות זה, ושאלות נוספות הנוגעות לתחום פעילות המשרד, ניתן לפנות ישירות למשרד בדואר אלקטרוני, בכתובת</span><span dir="LTR" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">: webmaster@it.pmo.gov.il. </span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black"><o:p></o:p></span></p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
        <span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">תשובות תינתנה בהקדם האפשרי, ולא יאוחר מ-14 יום ממועד קבלת הפניה</span><span dir="LTR" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">.</span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black"><o:p></o:p></span></p>
                    <p dir="RTL" style="text-align: right; vertical-align: baseline; direction: rtl; unicode-bidi: embed; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
        <span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
    color:black">פניות לשותפים, מפעילת האתר, יעשו בהתאם לאמור בתנאי השימוש של האתר (ראו </span><a href="https://www.sheatufim-roundtable.org.il/terms-of-use"><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">כאן</span></a><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">).&nbsp;<o:p></o:p></span></p>

                <% } else {%>
                <p dir="RTL">
                    &nbsp;</p>
                <p dir="RTL">
                    <strong><u>הצהרה משפטית</u></strong></p>
                <p dir="RTL">
                    &nbsp;</p>
                <p dir="RTL">
                    <strong><u>תנאי שימוש באתר מעגלי השיח </u></strong></p>
                <p dir="RTL">
                    &nbsp;&nbsp;ברוכים הבאים לאתר מעגלי השיח (להלן: &quot;<strong>האתר</strong>&quot;). האתר מנוהל ומופעל על-ידי שיתופים (חברה לתועלת הציבור) ממושב בית יהושוע (להלן: &quot;<strong>שיתופים</strong>&quot;). השימוש באתר ובכלל זה בתכנים הכלולים בו ובשירותים השונים הפועלים בו מעיד על הסכמתך לתנאים אלה, ולכן הנך מתבקש לקרוא אותם בקפידה. באתר תמצא תכנים שהשימוש בהם כפוף, בנוסף לתנאי שימוש כלליים אלה, גם להסכם מקוון המתייחס אליהם באופן מיוחד.</p>
                <p dir="RTL">
                    תנאים אלה חלים על השימוש באתר ובתכנים הכלולים בו באמצעות כל מחשב או מכשיר תקשורת אחר (כדוגמת טלפון סלולארי, מחשבי כף יד, טאבלטים למיניהם וכיו&quot;ב). כמו כן הם חלים על השימוש באתר, בין באמצעות רשת האינטרנט ובין באמצעות כל רשת או אמצעי תקשורת אחרים. תנאי השימוש באתר מנוסחים בלשון זכר לצרכי נוחות בלבד, והם מתייחסים, כמובן, גם לנשים. בתנאים אלה, המונח &quot;<strong>תוכן</strong>&quot;, או &quot;<strong>תכנים</strong>&quot; כולל מידע מכל מין וסוג, לרבות כל תוכן מילולי, חזותי, קולי, אור-קולי (<span dir="LTR">audio-visual</span>), או כל שילוב שלהם וכן עיצובם, עיבודם, עריכתם, הפצתם ודרך הצגתם, לרבות (אך לא רק):כל תמונה, צילום, איור, הנפשה (<span dir="LTR">animation</span>), תרשים, דמות, הדמיה, דגימה (<span dir="LTR">sample</span>), סרטון, קובץ קולי וקובץ מוסיקלי; כל תוכנה, קובץ, קוד מחשב, יישום, תסדיר (<span dir="LTR">format</span>), פרוטוקול, מאגר נתונים וממשק וכל תו, סימן, סמל וצלמית (<span dir="LTR">icon</span>). האתר משמש בין היתר כרשת חברתית לחילופי מידע ותכנים במסגרת שולחנות עגולים, יוזמות להשפעה חברתית ומסגרות נוספות בשם &quot;מעגלי שיח&quot;&nbsp; וכל שם אחר (להלן: רשת חברתית), המהווה כלי יחודי בבעלות שיתופים אשר יכלל במונח &quot;אתר&quot;, &quot;תוכן&quot; או &quot;תכנים&quot; לענין הצהרה זו.</p>
                <p dir="RTL">
                    &nbsp;</p>
                <p dir="RTL">
                    <strong><u>השימוש באתר שיתופים</u></strong></p>
                <p dir="RTL">
                    הנך רשאי להשתמש בתכנים באתר בהתאם לכללים המפורטים להלן. אין להשתמש בתכנים באתר באופן אחר, אלא אם כן קיבלת את הסכמתה המפורשת, מראש ובכתב של שיתופים לכך ובכפוף לתנאי ההסכמה (אם תינתן):</p>
                <p dir="RTL" style="margin-right:20.9pt;">
                    &middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; למשתמש לא יהיו כל זכויות ו/או בעלות על תוכן כלשהו המצוי באתר. הסכם זה הוא הרשאה בלבד להשתמש באתר. זכויות הבעלות באתר, בתכנים, כולל כל זכויות הקניין הרוחני, סימני המסחר וכו&#39; יוותרו בכל עת בבעלות שיתופים.</p>
                <p dir="RTL" style="margin-right:20.9pt;">
                    &middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; כל תוכן המצוי באתר הינו רכושה של שיתופים. אין להעתיק ו/או לפרסם ו/או לשכפל כל חלק מן התוכן, בכל דרך שהיא ללא הסכמתה המפורשת של שיתופים. האתר והתוכן המופיע בו מוגנים ע&quot;י חוקי זכויות יוצרים והם מיועדים לשימוש פרטי בלבד של המשתמש ולא לשימוש מסחרי.</p>
                <p dir="RTL" style="margin-right:20.9pt;">
                    &nbsp;</p>
                <p dir="RTL" style="margin-right:20.9pt;">
                    &middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;האמור בהצהרה זו יחול הדדית על כל משתמש במסגרת האתר אף במסגרת קשר או חילופי מידע בין גורמים פרטניים במסגרת האתר.שימוש באתר יבוצע אך ורק באמצעות שיתופים בכל נקודת זמן או קשר שבו מצויה הרשת החברתית, כולה או חלקה שמקורה בשיתופים כאמור. מבלי לגרוע מכל האמור לעיל ולהלן, לא יעשה כל שימוש מסחרי או פרסומי במידע ובתכנים הנובעים מאתר זה או מהרשת החברתית הכלולה בו.</p>
                <p dir="RTL" style="margin-right:20.9pt;">
                    &nbsp;</p>
                <p dir="RTL" style="margin-right:20.9pt;">
                    &middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; שיתופים פועלת לוודא את אמינותו ודיוקו של התוכן המצוי באתר, אך אינה אחראית ו/או ערבה לאמינות ודיוק התכנים. במידה ויתגלה אי-דיוק או טעות בתכנים אשר באתר, יש להודיע על כך לשיתופים כדי שתוכל לתקנו. &nbsp;בכל מקרה בו תתגלה סתירה בין התוכן באתר לבין נתונים המופיעים בפרסומים רשמיים או מקוריים, יחשב החומר בפרסומים הרשמיים ו/או המקוריים כנכון אלא אם יאמר במפורש אחרת</p>
                <p dir="RTL" style="margin-right:20.9pt;">
                    &nbsp;</p>
                <p dir="RTL" style="margin-right:20.9pt;">
                    &middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; האתר כולל, בין היתר, חומרים נוספים, כגון: מודעות, תגובות, ופניות של משתמשים שונים ושל גופים שונים לרבות משרדי ממשלה (להלן - חומרים נוספים). אין שיתופים אחראית לתוכן של החומרים הנוספים, ו/או לניסוחם ו/או לאמיתות ודיוק החומרים הנוספים, כולם או חלקם.</p>
                <p dir="RTL" style="margin-right:20.9pt;">
                    &middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; שיתופים מדגישה בזאת והמשתמש מצהיר בזאת כי ידוע לו שהתוכן באתר אינו מיועד לשימוש כתחליף לייעוץ ואין לראותו כמיועד לכך, ולפני הסתמכות על התוכן באתר ו/או בכל סוגיה הנוגעת לתוכן באתר יש להיוועץ במומחה בתחום. האתר מוצג מתוך כוונה להפיץ תכנים לתועלת הציבור ולסייע בחילופי מידע והצגת עמדות בין הגורמים המשתמשים.&nbsp; למען הסר ספק כל תוכן הנכלל באתר הכולל מידע מגורם חיצוני לשיתופים הינו באחריות כותבו בלבד ואולם התוכן באתר משקף &nbsp;מידע כללי בלבד, ואינו בגדר חוות דעת או ייעוץ מוסמך.</p>
                <p dir="RTL" style="margin-right:20.9pt;">
                    &nbsp;</p>
                <p dir="RTL" style="margin-right:20.9pt;">
                    &middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; האחריות לבדיקת נכונותו ודיוקיו של התוכן באתר הינה על המשתמש בלבד. המשתמש מצהיר בזאת, כי ידוע לו &nbsp;שאם יחול ליקוי ו/או טעות ו/או אי דיוק בתוכן ו/או בדרך העברתו למשתמשים, ו/או אי הבנה או אף פגיעה במשתמש והכל בין במישרין ובין בעקיפין, שיתופים לא תשא באחריות כלשהי בעניין.</p>
                <p dir="RTL" style="margin-right:20.9pt;">
                    &nbsp;</p>
                <p dir="RTL" style="margin-right:20.9pt;">
                    &middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; שיתופים שומרת לעצמה את הזכות הבלעדית לעשות כל שינוי באתר, בכל עת ומכל סיבה, בלי כל הודעה מראש ובלי כל אחריות מצדה.</p>
                <p dir="RTL" style="margin-right:20.9pt;">
                    &nbsp;</p>
                <p dir="RTL" style="margin-right:20.9pt;">
                    &middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; המשתמש מצהיר בזאת כי הוא מסכים ומתחייב לפעול בהתאם להוראות שימוש אשר שיתופים תפרסם מעת לעת בכל הנוגע לשימוש בתוכן באתר. נוסף על האמור לעיל, המשתמש מתחייב שלא להעלות, &nbsp;לחלץ, לשדר, להפיץ, למכור, להעתיק או לפרסם תוכן או חומר אחר מהאתר בין בתמורה ובין שלא בתמורה ללא הסכמתה המפורשת מראש ובכתב של שיתופים.</p>
                <p dir="RTL" style="margin-right:20.9pt;">
                    &nbsp;</p>
                <p dir="RTL" style="margin-right:20.9pt;">
                    &middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; שיתופים תהיה רשאית, על-פי שיקול דעתה הבלעדי, לחסום את ההרשאה למשתמש כלשהו&nbsp;במקרים של עבירה על החוק או על תנאי השימוש באתר, או כאשר הפריע המשתמש&nbsp; לפעילותו התקינה של האתר. בלי לגרוע מן האמור לעיל ו/או לגרוע מן הסעדים הניתנים על פי הוראות כל דין, שיתופים תהיה רשאית להפסיק באופן מיידי, חד צדדי וללא מתן כל התראה מראש, את מתן השירותים&nbsp;שלפי הסכם זה, בלי שינקטו נגדה צעדים.</p>
                <p dir="RTL" style="margin-right:20.9pt;">
                    &nbsp;</p>
                <p dir="RTL" style="margin-right:20.9pt;">
                    &middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; אין שיתופים יכולה לפקח על כל התכנים המועלים על האתר על ידי משתמשים אחרים. בלי לגרוע מן האמור, שיתופים שומרת לעצמה את הזכות בכל עת למסור לאחרים כל תוכן אשר יידרש ממנה על פי&nbsp;חוק, כמו גם על זכותה לערוך, להסיר ולסרב להעלות באתר כל תוכן והודעה שלפי שיקול דעתה&nbsp;הבלעדי של שיתופים פוגע בעליל או מפר תנאי מתנאי הסכם זה או אינו מתאים מכל סיבה שהיא להופיע באתר.</p>
                <p dir="RTL" style="margin-right:20.9pt;">
                    &nbsp;</p>
                <p dir="RTL" style="margin-right:20.9pt;">
                    &middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; המשתמש מצהיר בזאת ומתחייב לשפות את שיתופים בגין כל נזק ו/או הפסד שיגרם לה, שינבעו כתוצאה משימוש בלתי ראוי ו/או מוטעה, הפרעה ו/או כשלון ו/או כל פעולה אסורה על פי חוק המחשבים, התשנ&quot;ה-1995, חוק הגנת הפרטיות, התשמ&quot;א-1981, ו/או על פי כל דין, שיעשה באתר ו/או באמצעותו, ו/או בתכנים בו.</p>
                <p dir="RTL" style="margin-right:20.9pt;">
                    &nbsp;</p>
                <p dir="RTL" style="margin-right:20.9pt;">
                    &middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; הסכם זה כפוף לחוקי מדינת ישראל. סמכות השיפוט הבלעדית לדון בכל סכסוך העולה מהסכם זה תהיה נתונה לבתי המשפט בתל אביב. על הסכם זה יחולו הוראות חוק החוזים (תרופות בשל הפרת&nbsp;חוזה), התשל&quot;א-1970.</p>
                <p dir="RTL" style="margin-right:20.9pt;">
                    &nbsp;</p>
                <p dir="RTL">
                    &nbsp;</p>
                <p dir="RTL">
                    <strong><u>מיאון אחריות</u></strong></p>
                <p dir="RTL">
                    המידע, התוכנה, המוצרים והשירותים הכלולים באתר אינטרנט זה עשויים להכיל אי-דיוקים או שגיאות דפוס. כמו כן נערכים לפרקים שינויים במידע שבאתר. שיתופים רשאית בכל עת להכניס שיפורים ו/או שינויים באתר אינטרנט זה. אין להסתמך על ייעוץ שהתקבל באמצעות אתר אינטרנט זה לצורך קבלת החלטות בנושאים אישיים, רפואיים, משפטיים או כספיים; לשם כך עליך להתייעץ עם בעל מקצוע מתאים על מנת לקבל ייעוץ מותאם לנסיבות המיוחדות שלך. אין באמור במסמך זה משום מצג מצד שיתופים בדבר ההתאמה, האמינות, העיתוי המתאים ומידת הדיוק של המידע, התוכנה, המוצרים, השירותים והגרפיקה הנלווית הכלולים באתר אינטרנט זה למטרה כלשהי. כל המידע, התוכנה, המוצרים, השירותים והגרפיקה הנלווית מוצעים למשתמש &quot;כמות שהם&quot; (<span dir="LTR">As is</span>), בלא כל התחייבות שיתופים מתנערת בזאת מכל אחריות והתניה לגבי המידע, התוכנה, המוצרים השירותים והגרפיקה הנלווית, לרבות כל אחריות או התניה משתמעת בדבר סחירות, התאמה למטרה מסוימת, קניין ואי-הפרה. בשום מקרה לא תחול על שיתופים אחריות בגין נזק ישיר, עקיף, דמי נזיקין עונשיים, נזק מקרי, מיוחד או תוצאתי, או כל נזק אחר מכל סוג ומין, לרבות אך ללא הגבלה, דמי נזיקין בגין אובדן השימוש, אובדן נתונים או אובדן רווחים, הנובעים או קשורים בכל דרך שהיא בשימוש או בביצועי אתר אינטרנט זה, בעיכוב בשימוש או באי-יכולת להשתמש באתר, באספקה או באי-אספקה של שירותים, או בכל מידע, תוכנה, מוצר, שירות וגרפיקה נלווית שהושגו באמצעות אתר אינטרנט זה, או הנובעים בכל דרך אחרת מן השימוש באתר אינטרנט זה, בין שהדבר מבוסס על חוזה, ובין על דיני נזיקין, אחריות מוחלטת או כל דבר אחר, אפילו אם נודע לשיתופים על האפשרות של דמי נזיקין כאמור. אם אינך שבע-רצון מחלק כלשהו של אתר זה, או מאחד מתנאי השימוש, הסעד היחיד והבלעדי העומד לרשותך הוא הפסקת השימוש באתר.</p>
                <p dir="RTL">
                    &nbsp;</p>
                <p dir="RTL">
                    <strong><u>שינויים באתר והפסקת השירות</u></strong></p>
                <p dir="RTL">
                    &nbsp;</p>
                <p dir="RTL">
                    שיתופים תוכל לשנות מעת לעת את מבנה האתר, מראהו ועיצובו, את היקפם וזמינותם של השירותים בו, תהיה רשאית לגבות תשלום בעד תכנים ושירותים כאלה או אחרים לפי החלטתה, ותהיה רשאית לשנות כל היבט אחר הכרוך באתר - והכל, בלא צורך להודיע לך על כך מראש. שינויים כאלה יבוצעו, בין השאר, בהתחשב באופי הדינאמי של האינטרנט ובשינויים הטכנולוגיים והאחרים המתרחשים בה. מטבעם, שינויים מסוג זה עלולים להיות כרוכים בתקלות ו/או לעורר בתחילה אי-נוחות וכיו&quot;ב. לא תהיה לך כל טענה, תביעה ו/או דרישה כלפי שיתופים בגין ביצוע שינויים כאמור ו/או תקלות שיתרחשו אגב ביצועם.</p>
                <p dir="RTL">
                    מבלי לגרוע מן האמור לעיל רשאית שיתופים להפסיק בכל עת את מתן השירותים הללו, כולם או מקצתם. שיתופים תפרסם באתר הודעה על הפסקת השירותים זמן סביר מראש. עם הפסקת השירותים תחזיק שיתופים את החומר הכלול באתר למשך זמן סביר נוסף ולאחר מכן תהיה רשאית למחוק אותו בלא לשמור כל גיבוי ממנו ובלא לתת הודעה נוספת על כך.</p>
                <p dir="RTL">
                    &nbsp;</p>
                <% }%>
            </div>
        </div>
    </section>


    <% include partials/footer.ejs %>

</body>
</html>