 .circle {
    width: 80px;
}
.message.primary-message {
    min-width: 725px;
}
.message.message-pad-1 {
    min-width: 685px;
}

 .message.message-pad-2 {
     min-width: 665px;
 }

 .message.message-pad-3 {
     min-width: 645px;
 }

 li.arrow a.disabled i:hover,
 li.arrow a.disabled:hover{
     pointer-events: none;
     cursor: default;
 }

li.arrow a.disabled i.icon-arrow-right:hover {
    background-image: url('../img/icon-arrow-right.png');
}
li.arrow a.disabled i.icon-arrow-left:hover {
    background-image: url('../img/icon-arrow-left.png');

}
div.info-item-img img{
    width: 70px;
}
 ul.list li.info-item-container a:hover div,
ul.list li.link-container a:hover {
    color: #3bafda;
}
