<div class="mail">
    <div class="row">
        <div class="right dialog-title">
            <div class="row">
                <h3 class="basket-tagline right">צור קשר</h3>
            </div>
        </div>
    </div>
    <div class="spacer-large"></div>
    <div class="row">
        <div class="contact_form">
            <input class="email" name="email" type="email" placeholder="מייל השולח">
            <input class="title" name="title" type="text" placeholder="כותרת">
            <div class="review-change-text">
                <textarea class="text" name="text" class="text" placeholder="תוכן ההודעה..."></textarea>
            </div>
            <button class="btn btn-medium btn-green send_mail">שלח</button>
        </div>
    </div>
</div>