<li id="{id}" class="row-table review-{index} suggestion-item {?is_approved}approved{/is_approved}" data-id="{id}">
    <div class="message primary-message message-closed">
        <div class="message-image review-aside">
            <i class="icon icon-bulb"></i>
            <div class="circle-wrapper circle auto-scale">
            <img src="{?creator_id}{creator_id.avatar_url}{:else}/images/default_user_img.gif{/creator_id}" alt="תמונה" title="תמונה"/>
            </div>
        </div>
        <div class="message-text">
            <div class="row message-text-header">
                <div class="message-author right">{creator_id.first_name} {creator_id.last_name}</div>
                <div class="message-author-role right">{creator_id.occupation}</div>
                <div class="message-datetime left">{?creation_date}{creation_date|time}{/creation_date}</div>
            </div>
            <div class="spacer"></div>
            <div class="trying row">
                <div class="review-original-text">
                    <div class="review-original-text-title">טקסט מקורי</div>
                    <div class="review-original-text-text">{original_part}</div>
                </div>
                <div class="change_proposal review-change">
                    <div class="review-change-title">הצעה לשינוי</div>
                    <div class="review-change-text{?to_delete} delete{/to_delete}">{?to_delete}{original_part}{/to_delete}{alternative_part}</div>
                </div>
                <div class="review-exsplain">
                    <div class="review-exsplain-title">נימוק</div>
                    <div class="review-exsplain-text">{explanation}</div>
                </div>
                <div class="edit_window">
                    <p class="title">
                        הטקסט הנוכחי בשילוב ההצעה לשינוי מודגשת. לחץ כדי לחזור למסמך
                    </p>
                    <p>{context_before}
                        <span class="focus">
                            {?is_approved}{replaced_text}{:else}{alternative_part}{/is_approved}
                        </span>
                        {context_after}
                    </p>
                </div>
            </div>
            <div class="spacer"></div>
            <div class="review-options row">
				{?is_approved}
				<div class="suggestion-accepted right">{?approve_date}
                    ההצעה התקבלה בתאריך
                    &nbsp{approve_date|time}{/approve_date}</div>
				{:else}
                <button class="review-options-vote review-options-like {?has_voted}{?vote_balance}selected{/vote_balance}{/has_voted} btn right "><i class="icon icon-like"></i>בעד</button>
                <button class="review-options-vote review-options-dislike {?has_voted}{^vote_balance} selected {/vote_balance}{/has_voted} btn right"><i class="icon icon-dislike"></i>נגד</button>
                <div class="review-options-pro right">
                    <div class="review-options-pro-value right">{agrees|round}</div>
                    <div class="review-options-pro-text right">תומכים</div>
                </div>
                <div class="review-options-against right">
                    <div class="review-options-against-value right">{not_agrees|round}</div>
                    <div class="review-options-against-text right">מתנגדים</div>
                </div>
				{/is_approved}
                <div class="review-options-respondes right">
                    <div class="review-options-respondes-value right comment_counter">{comments_count}</div>
                    <div class="review-options-respondes-text right">תגובות</div>
                </div>
                <button class="btn review-respond left toggleComments">תגובות</button>
            </div>
        </div>
    </div>
    {?is_approved}
    {:else}
    <div class="reply-to-message row hide{?no_post} hidden{/no_post}">
        <div class="post-new-reply reply-to-review-1 message-pad-0">
            <i class="icon icon-box-top-right-blue-tip"></i>
            <div class="post-new-message-body" >
                <div class="post-new-message-body-image">

                    <div class="circle circle-wrapper auto-scale" >
                        <img src="{avatar}" alt="תמונה" title="תמונה"/>
                    </div>
                </div>
                <div class="post-new-message-body-text"><textarea placeholder="הכנס את הטקסט שלך..."></textarea></div>
                <div class="post-new-message-body-actions">
                    <div class="row">
                        <button class="btn btn-medium btn-gray post-new-message-upload-button">
                            הוסף קובץ
                        </button>
                        <input type="file" class="post-new-message-upload" style="display:none;">
                    </div>
                    <div class="row">
                        <button class="btn btn-medium btn-green add_suggestion_comment">פרסם</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {/is_approved}
    <ul class="hide">
    </ul>
</li>