<li class="row review-1-1">
    <div class="message message-pad-0">
        <i class="icon icon-box-top-right-gray-tip"></i>
        <div class="message-image"><div  class="circle circle-wrapper auto-scale"><img src="{avatar}" alt="תמונה" title="תמונה"/></div></div>
        <div class="message-text">
            <div class="row message-text-header">
                <div class="message-author right">{username}</div>
                <div class="message-author-role right"></div>
            </div>
            <div class="row">
                <div class="message-content right">{text|link|s}</div>
            </div>
            <div class="spacer"></div>
            <div class="message-bar row">
                <div class="message-datetime right">{creation_date|time}</div>
                <div class="message-replies right"></div>
            </div>
        </div>
    </div>
</li>
