<li class="row-table document-{_id}" data-id="{_id}">
    <a href="/discussions/{_id}">
        <div class="document primary-document">
        <i class="icon icon-document-item-tip"></i>
        <div class="document-text right">
            <div class="row document-text-header">
                <div class="document-name right">{title}</div>
                <div class="document-bar row">
                    <div class="document-datetime right">תאריך:</div>
                    <div class="document-datetime-value right">{creation_date|date}</div>
                    <div class="document-pipeline right">|</div>
                    <div class="document-participants right">משתתפים:</div>
                    <div class="document-participants-value right">{participants_count}</div>
                    <div class="document-pipeline right">|</div>
                    <!--<div class="document-produced right">נוצר ע"י: </div>
                    <div class="document-produced-value right">{creator_id.first_name} {creator_id.last_name}</div>-->
                </div>
            </div>
            <div class="spacer"></div>
            <div class="row">
                <div class="document-content right">{text_field_preview|s|truncate}</div>
            </div>
        </div>
        <div class="document-work-time right">
            <i class="icon icon-box-top-left-tip"></i>
            <div class="row">
                <div class="document-work-time-title">זמן עבודה</div>
            </div>
            <div class="row deadline-counter" data-time="{deadline}">
                <div class="document-work-time-days left">
                    <div class="document-work-time-value document-work-time-days days"></div>
                    <div class="document-work-time-tag">ימים</div>
                </div>
                <div class="semicolon-spacer left">:</div>
                <div class="document-work-time-hours left">
                    <div class="document-work-time-value document-work-time-hours hours"></div>
                    <div class="document-work-time-tag">שעות</div>
                </div>
                <div class="semicolon-spacer left">:</div>
                <div class="document-work-time-minutes left">
                    <div class="document-work-time-value document-work-time-minutes minutes"></div>
                    <div class="document-work-time-tag">דקות</div>
                </div>
                <div class="semicolon-spacer left">:</div>
                <div class="document-work-time-seconds left">
                    <div class="document-work-time-value document-work-time-seconds seconds"></div>
                    <div class="document-work-time-tag">שניות</div>
                </div>
            </div>
        </div>
    </div>
    </a>
</li>