<li class="row-table review-1">
    <div class="message primary-message message-closed">
        <div class="message-image review-aside">
            <i class="icon icon-bulb"></i>
            <img src="img/comment-img1.png" class="circle" alt="תמונה" title="תמונה"/>
        </div>
        <div class="message-text">
            <div class="row message-text-header">
                <div class="message-author right">אלברט אלמוזלינו</div>
                <div class="message-author-role right">מנכ"ל כוכב תשתיות בע"מ</div>
                <div class="message-datetime left">08.12.13 | 10:04</div>
            </div>
            <div class="spacer"></div>
            <div class="row">
                <div class="review-original-text">
                    <div class="review-original-text-title">טקסט מקורי</div>
                    <div class="review-original-text-text">לפי דעתי צריך לבטל את האגרה המיותרת הזאת כמה שיותר מהר לטובת כל הציבור! נמאס כבר שרוכבים על הגב  שלנו עם כל מיני מיסים ואגרות מטומטמות. הציבור הזה גמר להיות פראייר. </div>
                </div>
                <div class="review-change">
                    <div class="review-change-title">הצעה לשינוי</div>
                    <div class="review-change-text">המלצות הצוות לבחינת התחרותיות והמחירים בשוק  הפחתת מכסים, צרכנות ותחרותיות. הצוות העריך, כי אין פתרון בודד שיגרום לדבר כזה באמת לקרות.</div>
                </div>
                <div class="review-exsplain">
                    <div class="review-exsplain-title">נימוק</div>
                    <div class="review-exsplain-text">עובדים שעבו להתגורר במתחמי החינוך הבלתי פורמלי. ם המכשירים שייכים לעמותות אך בכל זאת האזרחים נדרשים לשלם את האגרה.</div>
                </div>
            </div>
            <div class="spacer"></div>
            <div class="review-options row">
                <button class="review-options-like btn right "><i class="icon icon-like"></i>בעד</button>
                <button class="review-options-dislike btn right"><i class="icon icon-dislike"></i>נגד</button>
                <div class="review-options-pro right">
                    <div class="review-options-pro-value right">12</div>
                    <div class="review-options-pro-text right">תומכים</div>
                </div>
                <div class="review-options-against right">
                    <div class="review-options-against-value right">38</div>
                    <div class="review-options-against-text right">מתנגדים</div>
                </div>
                <div class="review-options-respondes right">
                    <div class="review-options-respondes-value right">3</div>
                    <div class="review-options-respondes-text right">תגובות</div>
                </div>
                <button class="btn review-respond left" onclick="toggleComments('review-1')">תגובות</button>
            </div>
        </div>
    </div>
    <div class="reply-to-message row hide">
        <div class="post-new-reply reply-to-review-1 message-pad-0">
            <i class="icon icon-box-top-right-blue-tip"></i>
            <div class="post-new-message-body">
                <div class="post-new-message-body-image"><img src="img/comment-img5.png" class="circle" alt="תמונה" title="תמונה"/></div>
                <div class="post-new-message-body-text">
                    <label for="textarea-{id}" style="display: none;">הכנס את הטקסט שלך</label>
                    <textarea id="textarea-{id}" placeholder="הכנס את הטקסט שלך..."></textarea></div>                </div>
                <div class="post-new-message-body-actions">
                    <div class="row">
                        <button class="btn btn-medium btn-gray">הוסף קובץ</button>
                    </div>
                    <div class="row">
                        <button class="btn btn-medium btn-green">פרסם</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="hide">
        <!-- Message-1-1 -->
        <li class="row review-1-1">
            <div class="message message-pad-0">
                <i class="icon icon-box-top-right-gray-tip"></i>
                <div class="message-image"><img src="img/comment-img2.png" class="circle" alt="תמונה" title="תמונה"/></div>
                <div class="message-text">
                    <div class="row message-text-header">
                        <div class="message-author right">פרננדו אלפחורס</div>
                        <div class="message-author-role right">יועץ ראשי לאחשוורוש</div>
                    </div>
                    <div class="row">
                        <div class="message-content right">המלצות הצוות לבחינת התחרותיות והמחירים בשוק  הפחתת מכסים, צרכנות ותחרותיות. הצוות העריך, כי אין פתרון בודד שיגרום...</div>
                    </div>
                    <div class="spacer"></div>
                    <div class="message-bar row">
                        <div class="message-datetime right">08.12.13 | 10:04</div>
                        <div class="message-replies right"></div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</li>