<li class="row-table message-{_id}" data-level="{level}" data-id="{_id}" id="{_id}">

    {?parent_id}
        <div class="message message-pad-{level}">
            <i class="icon icon-box-top-right-gray-tip"></i>
    {:else}
        <!--{?link}-->
            <!--<div class="forum_link" data-href="/discussions/subject/{subject_id}/forum#{_id}">-->
        <!--{/link}-->
    <div class="message primary-message message-closed">
        {?link}
        <button class="forum_link" data-href="/discussions/subject/{subject_id}/forum#{_id}">
        {/link}
            <a href="javascript:;" class="message-ticker primary-ticker toggle_replies"><i class="icon icon-expand hand"></i></a>
    {/parent_id}
        <div class="message-image"><div class="circle circle-wrapper auto-scale"><img src="{avatar}" alt="תמונה" title="תמונה"/></div></div>
        <div class="message-text">
            <div class="row message-text-header">
                <div class="message-author right">{user.first_name} {user.last_name}{?username}{username}{/username}</div>
                <div class="message-author-role right">{user.occupation}{?user_occupation}{user_occupation}{/user_occupation}</div>
            </div>
            <div class="row">
                <div class="message-content right" data-text="{text}">
                    {?text_short}
                        {text_short|s}
                            <a href="javascript:;" class="show_all_text">
                                <span>קרא עוד</span>
                            </a>
                    {:else}
                        {text|s}
                    {/text_short}
                </div>
            </div>
            <div class="spacer"></div>
            <div class="message-bar row">
                <div class="message-datetime right">{date} | {time}</div>
                {?last}
                    <div class="message-reply hand left" onclick="replyTo('message-{_id}');">
                        <div class="message-reply-title"><i class="icon icon-xsmall-pad-left icon-bubble right"></i>הגב</div>
                    </div>
                {:else}
                    {^parent_id}
                        <a href="javascript:;" class="toggle_replies">
                            <div class="message-replies right" data-replies="{replies}"> {replies} תגובות </div>
                        </a>
                    {:else}
                        <div class="message-replies right" data-replies="{replies}"> {replies} תגובות </div>
                    {/parent_id}

                    <a href="javascript:;" class="message-likes">
                        <div class="like-counter right" title="">{likes}</div>
                        <img class="{?user_liked}unlike{:else}like{/user_liked}" src="/images/{?user_liked}unlike{:else}like{/user_liked}.png" title="{?user_liked}אהבתי{:else}לא אהבתי{/user_liked}" alt="{?user_liked}לא אהבתי את התגובה{:else}אהבתי את התגובה{/user_liked}">
                    </a>

                    {^closed}
                        <a href="javascript:;" class="message-reply hand left">
                            <div class="message-reply-title"><i class="icon icon-xsmall-pad-left icon-bubble right"></i>הגב</div>
                        </a>
                    {/closed}
                {/last}

                <div class="message-attachment left">{?attachment}<a download="{?attachment.name}{attachment.name}{:else}attachment{/attachment.name}" href="{attachment.url}">{?attachment.name}{attachment.name}{:else}attachment{/attachment.name}</a>{/attachment}</div>
            </div>
        </div>
        {?parent_id}
            </div>
        </div>
        {:else}
            </div>
            {?link}
            </button>
        {/link}
        </div>
        {/parent_id}
        <div class="reply-to-message row hide">
            <div class="post-new-reply reply-to-message-{_id} message-pad-{reply_level}">
                <i class="icon icon-box-top-right-blue-tip"></i>
                <input type="image" alt="סגור תיבת תגובה" class="icon icon-close hand" onclick="closeReply('message-{_id}');">
                <div class="post-new-message-body">
                    <div class="post-new-message-body-image"><div class="circle circle-wrapper auto-scale" ><img src="{user_avatar}" alt="תמונה" title="תמונה"/></div></div>
                    <div class="post-new-message-body-text">
                        <label for="textarea-{_id}" style="display: none;">הכנס את הטקסט שלך...</label>
                        <textarea id="textarea-{_id}" placeholder="הכנס את הטקסט שלך..."></textarea>
                        <div class="post-new-message-attachment" style="display: none;"><label class="post-new-message-attachment-path"></label>
                            &nbsp;<a class="post-new-message-attachment-path">
                                הסר
                            </a></div>
                    </div>

                    <div class="post-new-message-body-actions">
                        <div class="row">
							<form method="POST" enctype="multipart/form-data" target="hiddenFrame">
								<input type="file" id="image" class="hiddenUpload post-new-message-upload" name="image" style="opacity:0; position:absolute; width:80px ;height:51px; border:none; padding:0;" />
								<button class="btn btn-medium btn-gray post-new-message-upload-button" onclick="return false"  >הוסף קובץ</button>
								<input type="hidden" name="callback" value="" />
							</form>
                        </div>
                        <div class="row">
                            <button class="btn btn-medium btn-green create_secondary_post">פרסם</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {^last}
        <ul class="replies-{_id} {?hidden}hide{/hidden}" data-parent="{_id}"></ul>
    {/last}
    <!--{?link}-->
    <!--</div>-->
    <!--{/link}-->
</li>