<li class="row zirot-message message-1">
    <p>
        <a href="{main_link}">
        <!--{?user}-->
            <!--{?user_link}-->
                <!--<a class="inline_link" href="{user_link}">{user} </a>-->
            <!--{:else}-->
                <!--{user}-->
            <!--{/user_link}-->
        <!--{/user}-->

        <span class="part_one">{part_one} </span>
            {?part_two}
            "{part_two}"
            {/part_two}
            {?part_three}
        <span class="part_three">{part_three}</span>
            {/part_three}

        {?part_four}
        <a class="inline_link" href="{link_four}">{part_four}</a>
        {/part_four}

        {?part_five}
        <span class="part_five">{part_five} </span>
        {/part_five}
        </a>
    </p>

    <p class="noti_time">{?update_date}{update_date|time}{/update_date}</p>
</li>


