<!-- Basket -->
<div class="basket">
    <div class="row">
        <i class="icon icon-medium-pad-left icon-basket right"></i>
        <div class="right dialog-title">
            <div class="row">
                <h2 class="basket-title right">{name}</h2>
            </div>
            <div class="row">
                <h3 class="basket-tagline right">כל הפריטים בסל מידע</h3>
            </div>
        </div>
    </div>
    <div class="spacer-large"></div>
    <ul class="list" id="shoppingCartItemList">
    </ul>
</div>
<!-- /Basket -->