<a href="/discussions/subject/{_id}" class="zira-link right">
    <div class="zira-container">
        <div class="zira-image-container">
            <img src="/img/scanlines.png" class="zira-image-scanlines" alt="לא פעיל"/>
            <img src="{image_field.url}" class="zira-image align-me" alt="{name}" title="{name}" style="width: 231px; height: 230px;"/>
        </div>
        <div class="zira-details-container">
            <div class="zira-name">{name}</div>
            <i class="icon icon-plus"></i>
        </div>
    </div>
</a>
